In [2]:
######Given an integer numRows, return the first numRows of Pascal's triangle.

######In Pascal's triangle, each number is the sum of the two numbers directly above.


#####################################################################################


n = int(input("ENTER NUMBER OF ROWS IN PASCAL TRIANGLE:"))
a = []
for i in range(1, n):
  row = [1]
  for j in range(1, i):
    temp = i-1
    if j == 0:
      break
    elif j == temp:
      num = 1
    else:
      num = a[temp-1][j-1] + a[temp-1][j]
    row.append(num)
  a.append(row) 
a

ENTER NUMBER OF ROWS IN PASCAL TRIANGLE:10

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1]]